body {
    display: flex;

    min-height: 100vh;

    justify-content: center;
    justify-items: center;
    align-items: center;
}

.MainPage {
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    
    align-items:center;
    place-self:center;
}

#main {
    display: flex;
    flex-direction: column;
}

#togglewritebtn {
    font-size: medium;
    background-color: rgba(62, 142, 199, 0.177);
    border: 2px solid rgba(110, 158, 203, 0.183);
}

#togglewritebtn:hover {
    background-color: rgba(62, 142, 199, 0.381);
    border: 2px solid rgba(110, 158, 203, 0.438);
}