body {
    display: flex;
    min-height: 100vh;

    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}

.ProfilePage {
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    width: 100vw;
    overflow: hidden;
}

.ProfilePage p {
    font-family: sans-serif;
    font-size: medium;
}

#pf_container {
    display: flex;
    width: 100%;
    overflow: scroll;
}

#pf_subcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.5em;
}

#profile_sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: max-content;
    gap: 0.5em;
}

.ProfileInfo {
    display: flex;
    flex-direction: column;
    padding: 1em;

    border-top: 5px double rgb(42, 45, 132);
    border-right: 5px double rgb(42, 45, 132);
    border-bottom: 5px double rgb(42, 45, 132);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    background-color: rgba(6, 7, 45, 0.66);
}

#profile_pic {
    width: fit;
    height: auto;
    max-width: 7em;
    padding: 1em;

    border: 3px dashed rgb(110, 112, 203);
    border-radius: 50px;
}

#profile_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10%;
    justify-content:center;
}

#profile_edit {
    background-color: rgba(62, 64, 199, 0.237);
    border: 2px solid rgba(110, 112, 203, 0.204);
    font-size: small;
    font-family: sans-serif;
    align-self: center;
}

#profile_edit:hover {
    background-color: rgba(37, 40, 196, 0.449);
    border-color: rgba(62, 64, 199, 0.442);
}

#profile_main_btn {
    border-bottom: 2px solid rgba(110, 158, 203, 0.183);
}

#messages_btn {
    background-color: rgba(62, 142, 199, 0.177);
    border : 2px solid rgba(110, 158, 203, 0.183);
    border-bottom : 2px solid rgba(110, 158, 203, 0.183);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#profile_posts_btn {
    background-color: rgba(62, 142, 199, 0.177);
    border : 2px solid rgba(110, 158, 203, 0.183);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}