body {
    display: flex;

    width: 100%;
    min-height: 100vh;
    margin: 0;

    justify-content: center;
    justify-items: center;
    align-items: center;
}

.RegisterPage {
    display: grid;
    grid-template-rows: fit-content fit-content fit-content;
    row-gap: 1%;

    width: fit-content;
    min-height: fit-content;

    justify-items: center;
    align-content: center;


    text-align: center;
}

#logo {
    transform: scale(0.25,0.25);
    margin-top: -7.5em;
    margin-bottom: -7.5em;
}

#register_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    row-gap: 1em;
    width:max-content;
    padding: 2%;

    justify-items: center;
    align-content: center;
    justify-content: center;

    border: 5px solid rgb(18, 12, 41);;
    background-color:rgb(9, 6, 23);
    border-radius: 25px;
}

#register_form {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;

    padding-inline: 1em;

    row-gap: 0.5em;
    column-gap: 2.5%;

    place-self: center;
    text-align: left;
    justify-content: center;
}

#dob:required {
    box-sizing: border-box;
    width: 25em;
    height: 2.5em;


    padding-inline: 1em;
    border: 2px solid white;
    border-radius: 25px;

    background-color: rgb(0, 0, 0);
    color:white;
    font-family:sans-serif;
}

#dob:required:invalid {
    color: gray;
}

#dob:required:valid {
    color: white;
    border-color:rgb(32, 221, 32);
}

.text-input:not(:placeholder-shown) {
    border-color:rgb(32, 221, 32);
}

select:required {
    box-sizing: border-box;
    margin-inline: 0.5em;
    padding-inline: 0.5em;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;

    background-color: black;
    color: white;
    font-family:sans-serif;
}

select:required:invalid {
    color: gray;
}

select:required:valid {
    color: white;
    border-color:rgb(32, 221, 32);
}

.dob-input:not(:placeholder-shown) {
    border-color:rgb(32, 221, 32);
}

#register_btn {
    background-color: rgb(194, 57, 103);
    border: 2px solid rgb(195, 112, 139);
}

#register_btn:hover {
    background-color: rgb(195, 28, 84);
    border-color: rgb(194, 57, 103);
}
