.Ribbon {
    display: grid;
    grid-template-areas: 
        "a b c d";
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: 5%;

    width:100%;

    border-bottom: 2px solid white;
    align-items: center;
}

#logo_ribbon {
    transform: scale(0.2,0.2);
    margin-right: -20em;
    margin-left: -20em;
    margin-top: -10em;
    margin-bottom: -10em;
    height:fit-content;

    grid-area: a;
}

#nothing {
    grid-area: b;
    width: 25em;
}

#profile {
    grid-area: c;

    background-color: rgb(62, 64, 199);
    border: 2px solid rgb(110, 112, 203);
}

#profile:hover {
    background-color: rgb(37, 40, 196);
    border-color: rgb(62, 64, 199);
}

#logout {
    grid-area: d;
    background-color: rgb(194, 57, 103);
    border: 2px solid rgb(195, 112, 139);
}

#logout:hover {
    background-color: rgb(195, 28, 84);
    border-color: rgb(194, 57, 103);
}
