body {
    justify-content: center;
    text-align: center;
}

.SignInPage {
    display: grid;
    grid-template-rows: fit-content fit-content fit-content fit-content fit-content;
    justify-items: center;
    align-items: center;

    row-gap: 5%;
}

#logo {
    transform: scale(0.4,0.4);
    margin-top: -6em;
    margin-bottom: -8em;
}

#login_box {
    display: grid;
    grid-template-rows: auto auto;
    width: fit-content;
    height: auto;
    
    row-gap: 15%;
    justify-self: center;
    align-content: center;

    padding: 2.5em;
    border: 2px solid white;

    border: 5px solid rgb(18, 12, 41);;
    background-color:rgb(9, 6, 23);
    border-radius: 25px;
}

#register_form_login {
    display: grid;
    grid-template-columns: max-content max-content;
    width: max-content;
    column-gap: 5%;

    justify-self: center;
    justify-items: center;
    align-items: center;

    font-size: 0.75em;
}

#login_form {
    display: grid;
    grid-template-rows: auto auto;
    width:fit-content;
    
    align-self: center;
    justify-self: center;

    row-gap: 15%;
    text-align: left;
}

.field {
    display: grid;
    grid-template-rows: auto auto;
    place-items: left;
    font-size: 0.75em;
}

.text-input:not(:placeholder-shown) {
    border-color:rgb(32, 221, 32);
}

#login_btn {
    box-sizing: border-box;
    width: fit-content;
    border-radius: 25px;

    justify-self: center;

    color: white;
    font-family: serif;
    font-size: large;

    background-color: rgb(62, 64, 199);
    border: 2px solid rgb(110, 112, 203);
}

#login_btn:hover {
    background-color: rgb(37, 40, 196);
    border-color: rgb(62, 64, 199);
}

#register_btn {
    box-sizing: border-box;
    width: fit-content;
    border-radius: 25px;

    color: white;
    font-family: serif;
    font-size: large;

    background-color: rgb(194, 57, 103);
    border: 2px solid rgb(195, 112, 139);
}

#register_btn:hover {
    background-color: rgb(195, 28, 84);
    border-color: rgb(194, 57, 103);
}