.AdminPage {
    width: 100vw;
    height: 100vw;
}

#admin_container {
    display: flex;
    flex-direction: column;

    height: 100vw;
}

#admin_selectionbar {
    display: flex;
    flex-direction: row;

    gap: 0.5em;
    height: fit-content;
    width: auto;
    justify-content: space-around;
    padding: 0.5em;

    background-color: rgba(37, 7, 48, 0.813);
    border-bottom: 5px double rgba(97, 15, 128, 0.813);
}

.admin_selection_btn {
    background-color:rgb(67, 9, 88);
    border: 0px;
}

.admin_selection_btn:hover {
    background-color:rgb(85, 9, 113);
}

.admin_selection_btn.true {
    background-color:rgb(115, 11, 152);
}

.admin_selection_btn.true:hover {
    background-color:rgb(85, 9, 113);
}

#flagged_posts {
    display: flex;
    flex-direction: column;

    padding: 0.5em;
    gap: 0.5em;
}

.FlaggedChk {
    display: flex;
    flex-direction: column;

    font-size: medium;
    background-color: rgb(19, 3, 30);

    gap: 1em;
    padding: 1em;
    border-radius: 25px;
}

#flagged_post_container {
    display: flex;
    flex-direction: column;

    background-color: rgba(47, 8, 78, 0.602);
    border-radius: 25px;
}

#flagged_head {
    display: flex;
    flex-direction: row;
    background-color: rgba(53, 13, 86, 0.668);

    height: fit-content;
    width: 100%;

    border-radius: 25px;
    border: 0px;

    padding: 1em;
    gap: 1em;
    align-items: center;
}

#flagged_count {
    display: flex;
    background-color:rgba(151, 19, 207, 0.581);
    border-radius: 50px;
    width: 3em;
    min-width: 3em;
    height: 3em;

    align-items: center;
    justify-content: center;
}

#flagged_info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    align-items: flex-start;
    text-align: start;
}

#flagged_content {
    font-family: sans-serif;
    padding: 1em;
}

#flagged_btns {
    display: flex;
    flex-direction: row;

    gap: 0.5em;
}

.del_flagged_btn {
    display: flex;
    background-color: rgba(178, 21, 21, 0.357);

    width: 2.5em;
    height: 2.5em;
    padding-right: 0.9em;

    border: 0px;
    border-radius: 50px;

    align-items: center;
    justify-content: center;
}

.del_flagged_btn.true {
    background-color: rgba(54, 12, 89, 0.724);
    padding-top: 0.3em;
}

.del_flagged_btn.false:hover {
    background-color: rgba(178, 21, 21, 0.524);
}

.del_flagged_btn.true:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

#restore_flagged_btn {
    display: flex;
    background-color: rgba(0, 128, 0, 0.598);

    width: 2.5em;
    height: 2.5em;

    padding-top: 0.3em;

    border: 0px;
    border-radius: 50px;

    align-items: center;
    justify-content: center;
}

#restore_flagged_btn:hover {
    background-color: rgba(0, 128, 0, 0.769);
}

#flagged_warning {
    display: flex;
    flex-direction: column;
    width: auto;

    gap: 0.5em;
}

#write-warning {
    width: auto;
    height: 3em;
    min-height: 3em;

    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-color: rgba(15, 2, 30, 0.939);
    border: 3px solid rgba(42, 18, 103, 0.939);
    border-radius: 25px;

    padding: 1em;
    resize: vertical;
}

#del_alert_flagged_btn {
    font-size: small;
    background-color: rgba(178, 21, 21, 0.357);
    border: 0px;
}

#del_alert_flagged_btn:hover {
    background-color: rgba(178, 21, 21, 0.524);
}

#users_lst {
    display: flex;
    flex-direction: column;

    padding: 1em;
    gap: 0.5em;

    align-items: center;
}

.UserAdminCard {
    display: flex;
    flex-direction: row;

    font-size: medium;
    background-color: rgb(19, 3, 30);

    width: fit-content;
    gap: 2em;
    padding: 1em;
    border-radius: 25px;
}

#user_facts {
    display: flex;
    flex-direction: column;

    background-color: rgba(53, 13, 86, 0.668);
    font-family: sans-serif;
    color:rgb(206, 145, 228);

    width: fit-content;
    padding: 1em;
    border-radius: 25px;
    gap: 0.5em;
}

#user_name {
    font-family: serif;
    font-size: 1.5em;
    color: white;
}

#user_modif {
    display: flex;
    flex-direction: row;

    height: auto;
    width: auto;

    gap: 2em;
}

#user_modif_btns {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: max-content;
    justify-content: space-between;
    align-items: center;
}

.update_status_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;

    width: 13em;
    white-space: nowrap;
    padding-bottom: 0.25em;
}

.update_status_btn.true {
    background-color: rgba(103, 13, 177, 0.822);
}

.update_status_btn:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

.assign_team_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;

    width: 13em;
    white-space: nowrap;
}

.assign_team_btn.true {
    background-color: rgba(103, 13, 177, 0.822);
}

.assign_team_btn:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

.rem_user_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;

    width: 13em;
    white-space: nowrap;
}

.rem_user_btn.true {
    background-color: rgba(103, 13, 177, 0.822);
}

.rem_user_btn:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

#admin_card_pfp {
    width: 9em;
    height: 9em;
    border-radius: 75px;
}

#ops_user {
    display: flex;
    flex-direction: column;
    width: auto;

    gap: 0.5em;
    justify-content: center;
}

#assigned_team {
    box-sizing: border-box;
    height: 2.5em;
    width: 17.5em;

    padding-inline: 1em;
    border-radius: 25px;
    border: 3px solid rgba(52, 11, 86, 0.724);

    color:rgba(255, 255, 255, 0.708);
    font-family: sans-serif;
    background-color: rgba(37, 8, 63, 0.724);

    align-self: center;
}

.confirm_ops_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;
    width: fit-content;
    height: 8em;

    justify-self: center;
}

.confirm_ops_btn:hover {
    background-color: rgba(0, 128, 0, 0.749);
}

.confirm_ops_btn.remove:hover {
    background-color: rgba(186, 15, 15, 0.713);
}

#registrations_lst {
    display: flex;
    flex-direction: column;

    padding: 1em;
    gap: 0.5em;

    align-items: center;
}

.Registration {
    display: flex;
    flex-direction: row;

    background-color: rgb(19, 3, 30);

    width: fit-content;
    gap: 1em;
    padding: 1em;
    border-radius: 25px;

    align-items: center;
}

#reg_info {
    display: flex;
    flex-direction: column;

    font-size: 0.75em;
    font-family: sans-serif;
    color: rgb(206, 145, 228);

    background-color: rgba(53, 13, 86, 0.668);
    border-radius: 25px;
    padding: 1em;

    white-space: nowrap;
    width: fit-content;
    gap: 0.5em;
}

#reg_name {
    font-size: 2em;
    font-family: serif;
    color: white;
}

#reg_btns {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
}

.accept_reg_btn {
    display: flex;

    background-color: rgba(0, 128, 0, 0.529);
    border: 0px;

    width: 4em;
    height: 3em;
    justify-content: center;
    align-items: center;
}

.accept_reg_btn.true {
    background-color: rgba(7, 168, 7, 0.706);
}

.accept_reg_btn.false:hover {
    background-color: rgba(0, 128, 0, 0.749);
}

.reject_reg_btn {
    display: flex;

    background-color: rgba(186, 15, 15, 0.466);
    border: 0px;

    width: 4em;
    height: 3em;
    justify-content: center;
    align-items: center;
}

.reject_reg_btn.true {
    background-color: rgba(220, 14, 14, 0.783);
}

.reject_reg_btn.false:hover {
    background-color: rgba(186, 15, 15, 0.713);
}

#accept_ops {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#assign_form {
    display: flex;
    flex-direction: row;

    font-family: sans-serif;
    font-size: medium;
    gap: 2em;
    white-space: nowrap;
}

#assign_field {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

#assign_status {
    box-sizing: border-box;
    height: 2.5em;
    width: 17.5em;

    padding-inline: 1em;
    border-radius: 25px;
    border: 3px solid rgba(52, 11, 86, 0.724);

    color:rgba(255, 255, 255, 0.708);
    font-family: sans-serif;
    background-color: rgba(37, 8, 63, 0.724);

    align-self: center;
}

#assign_team {
    box-sizing: border-box;
    height: 2.5em;
    width: 17.5em;

    padding-inline: 1em;
    border-radius: 25px;
    border: 3px solid rgba(52, 11, 86, 0.724);

    color:rgba(255, 255, 255, 0.708);
    font-family: sans-serif;
    background-color: rgba(37, 8, 63, 0.724);

    align-self: center;
}

#confirm_reg {
    display: flex;

    background-color: rgba(0, 128, 0, 0.529);
    border: 0px;

    width: fit-content;
    height: 6.5em;

    align-items: center;
    justify-items: center;
}

#confirm_reg:hover {
    background-color: rgba(0, 128, 0, 0.749);
}