.AdminPage {
    width: 100vw;
    height: fit-content;
}

#admin_container {
    display: flex;
    flex-direction: column;

    height: 100vw;
}

#admin_selectionbar {
    display: flex;
    flex-direction: row;

    gap: 0.5em;
    height: fit-content;
    width: auto;
    justify-content: space-around;
    padding: 0.5em;

    background-color: rgba(37, 7, 48, 0.813);
    border-bottom: 5px double rgba(97, 15, 128, 0.813);
}

.admin_selection_btn {
    background-color:rgb(67, 9, 88);
    border: 0px;
}

.admin_selection_btn:hover {
    background-color:rgb(85, 9, 113);
}

.admin_selection_btn.true {
    background-color:rgb(115, 11, 152);
}

.admin_selection_btn.true:hover {
    background-color:rgb(85, 9, 113);
}

#admin_workspace {
    justify-items: center;
}

#forum_subcontainer {
    display: flex;
    flex-direction: column;

    margin: 0em;
    gap: 0.5em;
}

#admin-searchbar {
    color:white;
    font-family:serif;

    padding-inline: 1em;
    box-sizing: border-box;

    font-size: medium;
    border-bottom: 5px double rgba(97, 15, 128, 0.813);
}

#text-search-admin {
    flex: 1;
    width: 100%;
    background-color: black;
    border-color: rgba(128, 0, 128, 0.385);
}

#date-search-admin {
    box-sizing: border-box;
    width: fit-content;
    height: 2.5em;

    padding-inline: 1em;
    border: 2px solid rgba(128, 0, 128, 0.385);
    border-radius: 25px;

    background-color: rgb(0, 0, 0);
    color:gray;
    font-family:sans-serif;
}

#submit-search-admin {
    display: flex;
    align-items: center;

    font-size: medium;
    background-color: rgba(128, 0, 128, 0.385);
    border: 0px;
}

#submit-search-admin:hover {
    background-color: rgba(128, 0, 128, 0.634);
}

#admin_results {
    font-size: medium;
    font-family: sans-serif;

    padding: 2em;
    padding-top: 0.5em;

    background-color:rgb(41, 10, 50);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 10px double rgba(125, 22, 163, 0.813);
}

#user_adminresults {
    display: flex;
    flex-direction: column;

    font-size: 1.5em;
    gap: 1em;
    border-top: 2px solid rgba(152, 12, 195, 0.596);
    border-bottom: 2px solid rgba(152, 12, 195, 0.596);
    padding-top: 1em;
    padding-bottom: 1em;

    align-items: center;
}

#user_adminresult_card {
    display: flex;
    flex-direction: row;

    background-color: rgba(76, 30, 93, 0.535);
    font-family: sans-serif;
    font-size: large;

    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 1em;

    padding: 1em;
    border-radius: 25px;
    border:0px;
}

#user_adminresult_card:hover {
    background-color: rgba(97, 39, 118, 0.944);
}

#adminres_field {
    display: flex;
    flex-direction: column;
    height: auto;

    white-space: nowrap;

    color: rgb(175, 107, 239);
    border-left: 1px solid rgb(181, 96, 255);
    padding-left: 1em;
}

#admin_post_lst {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    padding-top: 0.5em;
}

.NewAdminPost {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.toggle-writeadmin-btn {
    background-color: rgba(97, 27, 111, 0.657);
    border: 0px;
    font-size: medium;
}

.toggle-writeadmin-btn.true:hover {
    background-color: rgba(137, 34, 157, 0.713);
}

.toggle-writeadmin-btn.false {
    background-color: rgba(137, 34, 157, 0.713);
}

.toggle-writeadmin-btn.false {
    background-color: rgba(194, 57, 103, 0.31);
}

.toggle-writeadmin-btn.false:hover {
    background-color: rgba(194, 57, 103, 0.472);
}

#write-admin-post {
    font-size: medium;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 1em;
    border-radius: 25px;

    background-color:rgb(40, 20, 43);
}

#write-admin-title {
    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-color:rgb(55, 28, 55);

    height: 2.5em;
    border: 2px solid rgb(83, 55, 107);
    border-radius: 25px;
    padding-inline: 1em;
}

#write-admin-content-post {
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: sans-serif;
    background-color:rgb(55, 28, 55);

    border: 2px solid rgb(83, 55, 107);
    border-radius: 25px;

    min-height: 7.5em;
    resize: vertical;

    box-sizing: border-box;
    padding: 1em;
}

#adminpost_btn {
    font-size: medium;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: white;
    background-color: rgba(143, 39, 151, 0.516);
    border: 0px;
}

#adminpost_btn:hover {
    background-color: rgba(179, 24, 190, 0.655);
}

.AdminPost {
    font-family: sans-serif;

    width: auto;
    padding: 1em;
    
    border-radius: 25px;
    background-color:
    rgb(23, 16, 31);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

#adminpost_head {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(141, 55, 194, 0.572);
}

.extra_adminpost_btn {
    display: flex;
    background-color:rgba(65, 45, 86, 0.222);
    border: 0px;
    border-radius: 25px;

    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
}

.extra_adminpost_btn.false:hover {
    background-color:rgba(79, 54, 106, 0.383);
}

.extra_adminpost_btn.true {
    background-color:rgba(79, 54, 106, 0.383);
}

.extra_adminpost_btn.true:hover {
    background-color:rgba(65, 45, 86, 0.222);
}

#post_extra {
    display: flex;
    flex-direction: row;

    align-self:flex-start;
    align-items: center;
    gap: 0.5em;

    background-color:rgba(63, 45, 86, 0.218);
    border-radius:50px;
}

#del_adminpost {
    font-size: medium;
    
    width: 2em;
    height: 2em;

    justify-content: center;
    align-items: center;
    
    padding-left: 0.45em;

    color: rgb(238, 222, 226);
    background-color: rgba(82, 34, 114, 0.283);
    border: 0px;
}

#del_adminpost:hover {
    background-color: rgba(194, 57, 103, 0.33);
}

#rev_del_adminpost {
    font-size: medium;
    
    width: 2em;
    height: 2em;

    justify-content: center;
    align-items: center;
    
    padding-top: 0.25em;
    padding-left: 0.45em;

    color: rgb(238, 222, 226);
    background-color: rgba(82, 34, 114, 0.283);
    border: 0px;
}

#rev_del_adminpost:hover {
    background-color: rgba(110, 39, 158, 0.515);
}

#edit_adminpost {
    font-size: medium;
    
    width: 2em;
    height: 2em;

    justify-content: center;
    align-items: center;

    padding-left: 0.6em;
        
    color: rgb(238, 222, 226);
    background-color: rgba(82, 34, 114, 0.283);
    border: 0px;
}

#edit_adminpost:hover {
    background-color: rgba(110, 39, 158, 0.515);
}

.flag_adminpost_btn {
    display: flex;
    background-color:rgba(82, 34, 114, 0.283);
    border: 0px;
    border-radius: 25px;

    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
}

.flag_adminpost_btn.true {
    background-color:rgba(95, 33, 136, 0.283);
    border: 2px solid rgba(194, 57, 103, 0.18);
    color: rgba(194, 57, 103, 0.532);
}

.flag_adminpost_btn.false:hover {
    background-color: rgba(194, 57, 103, 0.33);
}

.flag_adminpost_btn.true:hover {
    border: 2px solid rgba(7, 237, 7, 0.132);
    color: rgba(7, 237, 7, 0.463);
}

#admin_author_btn {
    display: flex;
    flex-direction: row;
    font-size: medium;

    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    
    background-color: rgb(23, 16, 31);
    border-radius: 50px;
    border: 0px;
}

#admin_author_btn:hover {
    background-color: rgb(63, 39, 91);
}

#admin_post_info {
    display: flex;
    flex-direction: row;

    gap: 1em;
    align-items: center;

    font-size: small;
    color: rgb(178, 112, 226);
}

#adminpost_btns {
    padding-top: 0.5em;
    border-top: 1px solid rgba(141, 55, 194, 0.572);
}

.NewAdminComment {
    display: flex;
    flex-direction: column;
    
    gap: 0.5em;
}

#new-admincomment-draft { 
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 25px;

    background-color:rgb(37, 20, 43);
}

#write-admin-comment {
    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-color:rgb(45, 28, 55);

    border: 2px solid rgb(92, 55, 107);
    border-radius: 25px;

    height: 4em;
    min-height: 4em;
    max-height: fit-content;
    resize: vertical;

    box-sizing: border-box;
    padding: 1em;
}

#admincomment-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#admincomment_btn {
    font-size: small;
    font-family: serif;

    width: fit-content;
    height: 2em;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(117, 39, 151, 0.476);
    border: 0px;
}

#admincomment_btn:hover {
    background-color: rgba(127, 39, 151, 0.65);
}

#cancel-admincomment-btn {
    font-size: medium;
    font-family: serif;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(194, 57, 103, 0.151);
    border: 2px solid rgba(195, 112, 140, 0.248);
    border: 0px;
}

#cancel-admincomment-btn:hover {
    background-color: rgba(194, 57, 103, 0.33);
    border-color: rgba(195, 112, 140, 0.336);
}

.AdminComment {
    font-family: sans-serif;

    width: auto;
    padding: 0.75em;
    gap:0.5em;
    
    border-radius: 25px;
    background-color:rgba(49, 29, 56, 0.439);

    display: flex;
    flex-direction: row;

    align-items: center;
}

#admincomment_author_btn {
    display: flex;
    flex-direction: row;
    font-size: medium;

    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    
    background-color: rgba(49, 29, 56, 0);
    border-radius: 50px;
    border: 0px;
}

#admincomment_author_btn:hover {
    background-color: rgba(81, 20, 109, 0.612);
}

#admincomment_time {
    font-size: small;
    color: rgb(142, 85, 177);
}

#show_adminthread {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(117, 39, 151, 0.476);
    border: 0px;
}

#show_adminthread:hover {
    background-color: rgba(127, 39, 151, 0.65);
}

.adminthread {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-left: 2px solid rgba(178, 112, 226, 0.475);
    border-top: 2px solid rgba(178, 112, 226, 0.475);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    max-height: 15em;
    overflow: scroll;
    scrollbar-color: rgba(136, 85, 177, 0.605) rgba(24, 16, 31, 0.363);
}

#flagged_posts {
    display: flex;
    flex-direction: column;

    width: 95vw;
    padding: 0.5em;
    gap: 0.5em;

    align-items: center;
}

.FlaggedChk {
    display: flex;
    flex-direction: column;

    font-size: medium;
    background-color: rgb(27, 3, 43);

    width: 100%;
    gap: 1em;
    padding: 1em;
    border-radius: 25px;
}

#flagged_post_container {
    display: flex;
    flex-direction: column;

    background-color: rgba(47, 8, 78, 0.602);
    border-radius: 25px;
}

#flagged_head {
    display: flex;
    flex-direction: row;
    background-color: rgba(53, 13, 86, 0.668);

    height: fit-content;
    width: 100%;

    border-radius: 25px;
    border: 0px;

    padding: 1em;
    gap: 1em;
    align-items: center;
}

#flagged_count {
    display: flex;
    background-color:rgba(151, 19, 207, 0.581);
    border-radius: 50px;
    width: 3em;
    min-width: 3em;
    height: 3em;

    align-items: center;
    justify-content: center;
}

#flagged_info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    align-items: flex-start;
    text-align: start;
}

#flagged_content {
    font-family: sans-serif;
    padding: 1em;
}

#flagged_btns {
    display: flex;
    flex-direction: row;

    gap: 0.5em;
}

.del_flagged_btn {
    display: flex;
    background-color: rgba(178, 21, 21, 0.357);

    width: 2.5em;
    height: 2.5em;
    padding-right: 0.9em;

    border: 0px;
    border-radius: 50px;

    align-items: center;
    justify-content: center;
}

.del_flagged_btn.true {
    background-color: rgba(54, 12, 89, 0.724);
    padding-top: 0.3em;
}

.del_flagged_btn.false:hover {
    background-color: rgba(178, 21, 21, 0.524);
}

.del_flagged_btn.true:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

#restore_flagged_btn {
    display: flex;
    background-color: rgba(0, 128, 0, 0.598);

    width: 2.5em;
    height: 2.5em;

    padding-top: 0.3em;

    border: 0px;
    border-radius: 50px;

    align-items: center;
    justify-content: center;
}

#restore_flagged_btn:hover {
    background-color: rgba(0, 128, 0, 0.769);
}

#flagged_warning {
    display: flex;
    flex-direction: column;
    width: auto;

    gap: 0.5em;
}

#write-warning {
    width: auto;
    height: 3em;
    min-height: 3em;

    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-color: rgba(15, 2, 30, 0.939);
    border: 3px solid rgba(42, 18, 103, 0.939);
    border-radius: 25px;

    padding: 1em;
    resize: vertical;
}

#del_alert_flagged_btn {
    font-size: small;
    background-color: rgba(178, 21, 21, 0.357);
    border: 0px;
}

#del_alert_flagged_btn:hover {
    background-color: rgba(178, 21, 21, 0.524);
}

#users_lst {
    display: flex;
    flex-direction: column;

    padding: 1em;
    gap: 0.5em;

    align-items: center;
}

.UserAdminCard {
    display: flex;
    flex-direction: row;

    font-size: medium;
    background-color: rgb(19, 3, 30);

    width: fit-content;
    gap: 2em;
    padding: 1em;
    border-radius: 25px;
}

#user_facts {
    display: flex;
    flex-direction: row;

    background-color: rgba(53, 13, 86, 0.668);
    font-family: sans-serif;

    width: fit-content;
    padding: 1em;
    border-radius: 25px;
    gap: 1em;

    align-items: center;
}

#user_name {
    font-family: serif;
    font-size: 1.5em;
    color: white;
}

#user_field {
    display: flex;
    flex-direction: column;
    
    color: rgb(210, 150, 232);
    border-left: 1px solid rgb(204, 109, 239);
    padding-left: 1em; 
}

#user_admin_info {
    font-family: serif;
    color: white;
}

#user_modif {
    display: flex;
    flex-direction: row;

    height: auto;
    width: auto;

    gap: 2em;
}

#user_modif_btns {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: max-content;
    justify-content: space-between;
    align-items: center;
}

.update_status_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;

    width: 13em;
    white-space: nowrap;
    padding-bottom: 0.25em;
}

.update_status_btn.true {
    background-color: rgba(103, 13, 177, 0.822);
}

.update_status_btn:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

.assign_team_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;

    width: 13em;
    white-space: nowrap;
}

.assign_team_btn.true {
    background-color: rgba(103, 13, 177, 0.822);
}

.assign_team_btn:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

.rem_user_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;

    width: 13em;
    white-space: nowrap;
}

.rem_user_btn.true {
    background-color: rgba(103, 13, 177, 0.822);
}

.rem_user_btn:hover {
    background-color: rgba(83, 11, 142, 0.724);
}

#admin_card_pfp {
    width: 9em;
    height: 9em;
    border-radius: 75px;
}

#ops_user {
    display: flex;
    flex-direction: column;
    width: auto;

    gap: 0.5em;
    justify-content: center;
}

#assigned_team {
    box-sizing: border-box;
    height: 2.5em;
    width: 17.5em;

    padding-inline: 1em;
    border-radius: 25px;
    border: 2px solid rgba(204, 109, 239, 0.474);

    color:rgba(255, 255, 255, 0.708);
    font-family: sans-serif;
    background-color: rgba(106, 30, 133, 0.203);

    align-self: center;
}

.confirm_ops_btn {
    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;
    width: fit-content;
    height: 8em;

    justify-self: center;
}

.confirm_ops_btn:hover {
    background-color: rgba(0, 128, 0, 0.749);
}

.confirm_ops_btn.remove:hover {
    background-color: rgba(186, 15, 15, 0.713);
}

#registrations_lst {
    display: flex;
    flex-direction: column;

    padding: 1em;
    gap: 0.5em;

    align-items: center;
}

.Registration {
    display: flex;
    flex-direction: row;

    background-color: rgb(19, 3, 30);

    width: fit-content;
    gap: 1em;
    padding: 1em;
    border-radius: 25px;

    align-items: center;
}

#reg_info {
    display: flex;
    flex-direction: column;

    font-size: 0.75em;
    font-family: sans-serif;
    color: rgb(206, 145, 228);

    background-color: rgba(53, 13, 86, 0.668);
    border-radius: 25px;
    padding: 1em;

    white-space: nowrap;
    width: fit-content;
    gap: 0.5em;
}

#reg_name {
    font-size: 2em;
    font-family: serif;
    color: white;
}

#reg_btns {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
}

.accept_reg_btn {
    display: flex;

    background-color: rgba(0, 128, 0, 0.529);
    border: 0px;

    width: 4em;
    height: 3em;
    justify-content: center;
    align-items: center;
}

.accept_reg_btn.true {
    background-color: rgba(7, 168, 7, 0.706);
}

.accept_reg_btn.false:hover {
    background-color: rgba(0, 128, 0, 0.749);
}

.reject_reg_btn {
    display: flex;

    background-color: rgba(186, 15, 15, 0.466);
    border: 0px;

    width: 4em;
    height: 3em;
    justify-content: center;
    align-items: center;
}

.reject_reg_btn.true {
    background-color: rgba(220, 14, 14, 0.783);
}

.reject_reg_btn.false:hover {
    background-color: rgba(186, 15, 15, 0.713);
}

#accept_ops {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#assign_form {
    display: flex;
    flex-direction: row;

    font-family: sans-serif;
    font-size: medium;
    gap: 2em;
    white-space: nowrap;
}

#assign_field {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

#assign_status {
    box-sizing: border-box;
    height: 2.5em;
    width: 17.5em;

    padding-inline: 1em;
    border-radius: 25px;
    border: 3px solid rgba(52, 11, 86, 0.724);

    color:rgba(255, 255, 255, 0.708);
    font-family: sans-serif;
    background-color: rgba(37, 8, 63, 0.724);

    align-self: center;
}

#assign_team {
    box-sizing: border-box;
    height: 2.5em;
    width: 17.5em;

    padding-inline: 1em;
    border-radius: 25px;
    border: 3px solid rgba(52, 11, 86, 0.724);

    color:rgba(255, 255, 255, 0.708);
    font-family: sans-serif;
    background-color: rgba(37, 8, 63, 0.724);

    align-self: center;
}

.confirm_reg {
    display: flex;

    background-color: rgba(54, 12, 89, 0.724);
    border: 0px;

    width: fit-content;
    height: 6.5em;

    align-items: center;
    justify-items: center;
}

.confirm_reg.true:hover {
    background-color: rgba(0, 128, 0, 0.749);
}

.confirm_reg.false:hover {
    background-color: rgba(128, 0, 0, 0.749);
}