.ChatPage {
    width: 100vw;
    height: 28.5em;
    max-height: 28.5em;
}

#chatpage_subcontainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 28.5em;
    max-height: 28.5em;
}

#chat_sidebar {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;

    text-align: center;
    padding-top: 1em;
    gap: 1em;

    background-color: rgba(10, 20, 29, 0.743);
    border-right: 5px double rgb(35, 65, 85);
    border-bottom: 5px double rgb(35, 65, 85);
    border-bottom-right-radius: 25px;
}

#chat_icon {
    width: 2em;
    height: 3em;
}

#chat_head {
    display: flex;
    flex-direction: row;
    
    gap: 1em;
    align-items: center;
    justify-content: center;
}

#chat_lst {
    display: flex;
    flex-direction: column;

    padding: 0.5em;
    gap: 0.5em;
    align-items: center;

    overflow: scroll;
}

.chat_btn {
    display: flex;
    flex-direction: row;

    background-color: rgba(30, 49, 65, 0.517);
    
    border: 0px;
    width: 100%;

    font-size: large;
    height: fit-content;

    padding-top: 1em;
    padding-bottom: 1em;

    gap: 1em;
    align-items: center;
}

.chat_btn.true {
    background-color: rgba(62, 142, 199, 0.237);
}

#chat_btn:hover {
    background-color: rgba(26, 56, 81, 0.683);
}

#chat_pfp {
    width: 5em;
    height: 5em;
    border-radius: 25px;
}

#chat_area {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 29.5em;

    border-left: 5px double rgb(35, 65, 85);
    border-right: 5px double rgb(35, 65, 85);
    border-bottom: 5px double rgb(35, 65, 85);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#chat_placeholder {
    color: rgb(126, 124, 106);
    font-size:medium;
    font-family: sans-serif;
    align-content: top;
    padding: 1em;
}

#msg_lst {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 90%;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    overflow:scroll;
}

#new_msg {
    display: flex;
    flex-direction: row;
    
    height: fit-content;

    border-top: 5px solid rgb(35, 65, 85);
    gap: 0.5em;
    align-items: center;
    padding: 0.25em;
}

#new_msg_text {
    background-color:rgba(62, 142, 199, 0.177);
    color: white;
    font-family: sans-serif;
    font-size: medium;

    padding-inline: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border: 2px solid rgb(37, 65, 84);
    border-radius: 25px;

    width: 100%;
    height: 1.5em;
    resize: vertical;
    min-height: 1.5em;
}

#send_msg_btn {
    background-color:rgba(133, 34, 67, 0.353);
    border: 2px solid rgba(195, 112, 140, 0.416);
    border: 0px;
    border-radius:15px;
    font-size: medium;

    width: max-content;
    height: 2.5em;
}

#send_msg_btn:hover {
    background-color: rgba(133, 34, 67, 0.511);
    border-color: rgba(195, 112, 140, 0.584);
}