.NewPost {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 100%;
}

.togglewritebtn {
    font-size: medium;
}

.togglewritebtn.true {
    background-color: rgba(62, 115, 199, 0.336);
    border: 0px;
}

.togglewritebtn.true:hover {
    background-color: rgba(62, 115, 199, 0.484);
}

.togglewritebtn.false {
    background-color: rgba(194, 57, 103, 0.31);
    border: 2px solid rgba(195, 112, 140, 0.248);
    border: 0px;
}

.togglewritebtn.false:hover {
    background-color: rgba(194, 57, 103, 0.472);
    border-color: rgba(195, 112, 140, 0.336);
    border: 0px;
}

#write-post {
    font-size: medium;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 1em;
    border-radius: 25px;

    background-color:rgb(20, 29, 43);
}

#write-title {
    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-color:rgb(28, 39, 55);

    height: 2.5em;
    border: 2px solid rgb(55, 76, 107);
    border-radius: 25px;
    padding-inline: 1em;
}

#write-content-post {
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: sans-serif;
    background-color:rgb(28, 39, 55);

    border: 2px solid rgb(55, 76, 107);
    border-radius: 25px;

    height: 7.5em;
    min-height: 7.5em;
    resize: vertical;

    box-sizing: border-box;
    padding: 1em;
}

#post_btn {
    font-size: medium;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: white;
    background-color: rgba(39, 151, 125, 0.269);
    border: 2px solid rgba(110, 203, 189, 0.318);
    border: 0px;
}

#post_btn:hover {
    background-color: rgba(39, 151, 125, 0.408);
    border-color: rgba(110, 203, 189, 0.521);
}