.Post {
    font-family: sans-serif;

    width: auto;
    padding: 1em;
    
    border-radius: 25px;
    background-color:
    rgb(16, 20, 31);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

#post_head {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgb(43, 57, 96);
}

#post_top {
    display: flex;
    flex-direction: row;
    gap: 1em;

    justify-content: space-between;
}

#post_title {
    font-family: serif;
}

.extra_post_btn {
    display: flex;
    background-color:rgba(45, 56, 86, 0.222);
    border: 0px;
    border-radius: 25px;

    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
}

.extra_post_btn.false:hover {
    background-color:rgba(45, 56, 86, 0.396);
}

.extra_post_btn.true {
    background-color:rgba(45, 56, 86, 0.396);
}

.extra_post_btn.true:hover {
    background-color:rgba(45, 56, 86, 0.222);
}

#post_extra {
    display: flex;
    flex-direction: row;

    align-self:flex-start;
    align-items: center;
    gap: 0.5em;

    background-color:rgba(45, 56, 86, 0.218);
    border-radius:50px;
}

#user_extra_btns {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 0.25em;
}

#del_post {
    font-size: medium;
    
    width: 2em;
    height: 2em;

    justify-content: center;
    align-items: center;
    
    padding-left: 0.45em;

    color: rgb(238, 222, 226);
    background-color: rgba(34, 54, 114, 0.283);
    border: 0px;
}

#del_post:hover {
    background-color: rgba(194, 57, 103, 0.33);
}

#confirm_del_post {
    font-size: medium;
    
    width: 2em;
    height: 2em;

    justify-content: center;
    align-items: center;
    
    padding-left: 0.45em;

    color: rgb(238, 222, 226);
    background-color: rgba(194, 57, 103, 0.33);
    border: 0px;
}

#confirm_del_post:hover {
    background-color: rgba(212, 17, 82, 0.629);
}

#rev_del_post {
    font-size: medium;
    
    width: 2em;
    height: 2em;

    justify-content: center;
    align-items: center;
    
    padding-top: 0.25em;
    padding-left: 0.45em;

    color: rgb(238, 222, 226);
    background-color: rgba(30, 58, 140, 0.482);
    border: 0px;
}

#rev_del_post:hover {
    background-color: rgba(17, 52, 148, 0.662);
}

#edit_post {
    font-size: medium;
    
    width: 2em;
    height: 2em;

    justify-content: center;
    align-items: center;

    padding-left: 0.6em;
        
    color: rgb(238, 222, 226);
    background-color: rgba(34, 54, 114, 0.283);
    border: 0px;
}

#edit_post:hover {
    background-color: rgba(20, 48, 125, 0.582);
}

#flag_post_btn {
    display: flex;
    background-color:rgba(45, 56, 86, 0.222);
    border: 0px;
    border-radius: 25px;

    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
}

#flag_post_btn:hover {
    background-color: rgba(194, 57, 103, 0.33);
}

#author_btn {
    display: flex;
    flex-direction: row;
    font-size: medium;

    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    
    background-color: rgba(20, 50, 109, 0);
    border-radius: 50px;
    border: 0px;
}

#post_pfp {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50px;
}

#author_btn:hover {
    background-color: rgba(20, 50, 109, 0.612);
    border-color: rgba(26, 73, 130, 0.667);
}

#post_info {
    display: flex;
    flex-direction: row;

    gap: 1em;
    align-items: center;

    font-size: small;
    color: rgb(85, 110, 177);
}

#post_content {
    font-size: medium;
}

#post-btns {
    font-family: serif;
    display: flex;

    gap: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid rgb(43, 57, 96);
}

#reply_post {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(59, 121, 236, 0.266);
    border: 0px;
}

#reply_post:hover {
    background-color:rgba(59, 121, 236, 0.523);
}

#show_thread {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(59, 121, 236, 0.266);
    border: 0px;
}

#show_thread:hover {
    background-color: rgba(59, 121, 236, 0.523);
}

#no_comment {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(207, 26, 26, 0.203);
    border: 2px solid rgba(195, 112, 112, 0.248);
    border: 0px;
}

.thread {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-left: 2px solid rgba(85, 109, 177, 0.605);
    border-top: 2px solid rgba(85, 109, 177, 0.605);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    max-height: 15em;
    overflow: scroll;
    scrollbar-color: rgba(85, 109, 177, 0.605) rgba(16, 20, 31, 0.363);
}