.Post {
    font-family: sans-serif;

    width: auto;
    padding: 1em;
    
    border-radius: 25px;
    background-color:
    rgb(16, 20, 31);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

#post_head {
    display: flex;
    flex-direction: column;

    gap: 0.25em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgb(43, 57, 96);
}

#post_title {
    font-size: large;
}

#author_btn {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;

    background-color: rgba(20, 50, 109, 0.316);
    border: 2px solid rgba(26, 73, 130, 0.448);
}

#author_btn:hover {
    background-color: rgba(20, 50, 109, 0.612);
    border-color: rgba(26, 73, 130, 0.667);
}

#post_info {
    display: flex;
    flex-direction: row;

    gap: 1em;
    align-items: center;

    font-size: small;
    font-style:italic;
    color: rgb(85, 110, 177);
}

#post_content {
    font-size: medium;
}

#post-btns {
    font-family: serif;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding-top: 0.5em;
    border-top: 1px solid rgb(43, 57, 96);
}

#reply_post {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(194, 57, 103, 0.151);
    border: 2px solid rgba(195, 112, 140, 0.248);
}

#reply_post:hover {
    background-color: rgba(194, 57, 103, 0.33);
    border-color: rgba(195, 112, 140, 0.336);
}

#show_thread {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(194, 57, 103, 0.151);
    border: 2px solid rgba(195, 112, 140, 0.248);
}

#show_thread:hover {
    background-color: rgba(194, 57, 103, 0.33);
    border-color: rgba(195, 112, 140, 0.336);
}

#no_comment {
    font-size: small;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    
    color: rgb(238, 222, 226);
    background-color: rgba(207, 26, 26, 0.203);
    border: 2px solid rgba(195, 112, 112, 0.248);
}

.thread {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-left: 2px solid rgba(85, 109, 177, 0.605);
    border-top: 2px solid rgba(85, 109, 177, 0.605);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    max-height: 20em;
    overflow: scroll;
    scrollbar-color: rgba(85, 109, 177, 0.605) rgba(16, 20, 31, 0.363);
}
