body {
    display: flex;
    min-height: 100vh;

    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}

.ProfilePage {
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    width: 100vw;
    overflow: hidden;
}

.ProfilePage p {
    font-family: sans-serif;
    font-size: medium;
}

#pf_container {
    display: flex;
    width: 100%;
    overflow: scroll;
}

#pf_subcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#profile_sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: max-content;
    gap: 0.5em;
}

.ProfileInfo {
    display: flex;
    flex-direction: column;
    padding: 1em;

    border-top: 5px double rgb(42, 45, 132);
    border-right: 5px double rgb(42, 45, 132);
    border-bottom: 5px double rgb(42, 45, 132);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    background-color: rgba(6, 7, 45, 0.66);
}

#profile_pic {
    width: fit;
    height: auto;
    max-width: 7em;
    padding: 1em;

    border: 3px dashed rgb(110, 112, 203);
    border-radius: 50px;
}

#profile_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10%;
    justify-content:center;
}

#profile_posts {
    max-height: 73vw;
    overflow: scroll;
}

#redirChat_btn {
    background-color: #102232bd;

    border-top: 5px double rgb(35, 65, 85);
    border-right: 5px double rgb(35, 65, 85);
    border-bottom: 5px double rgb(35, 65, 85);
    border-left: 0px solid black;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    width: 100%;
    height: fit-content;
    padding:0.5em;
}

#redirChat_btn:hover {
    background-color: rgba(25, 53, 78, 0.743);

    border-top: 5px double rgb(45, 85, 112);
    border-right: 5px double rgb(45, 85, 112);
    border-bottom: 5px double rgb(45, 85, 112);
    border-left: 0px solid black;
}

#friendreq_btn {
    background-color: rgba(133, 34, 67, 0.353);

    border-top: 5px double rgba(195, 112, 140, 0.416);
    border-right: 5px double rgba(195, 112, 140, 0.416);
    border-bottom: 5px double rgba(195, 112, 140, 0.416);
    border-left: 0px solid black;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    width: 100%;
    height: fit-content;
    padding:0.5em;
}

#friendreq_btn:hover {
    background-color: rgba(133, 34, 67, 0.511);

    border-top: 5px double rgba(195, 112, 140, 0.584);
    border-right: 5px double rgba(195, 112, 140, 0.584);
    border-bottom: 5px double rgba(195, 112, 140, 0.584);
    border-left: 0px solid black;
}

#friendreq_btn_sent {
    background-color: rgba(107, 34, 133, 0.353);

    border-top: 5px double rgba(195, 112, 190, 0.416);
    border-right: 5px double rgba(195, 112, 190, 0.416);
    border-bottom: 5px double rgba(195, 112, 190, 0.416);
    border-left: 0px solid black;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    width: 100%;
    height: fit-content;
    padding:0.5em;
}