body {
    display: flex;
    
    min-height: 100vh;
    margin: 0;

    justify-content: center;
    justify-items: center;
    align-items: center;
}

.RegisterPage {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: fit-content;
    height: 100vh;

    place-content: center;
    justify-items: center;
    align-items: center;

    text-align: center;
}

#logo {
    transform: scale(0.25,0.25);
    margin-top: -7.5em;
    margin-bottom: -7.5em;
}

#register_box {
    display: flex;
    flex-direction: column;

    gap: 1em;
    width:max-content;
    padding: 2%;

    justify-items: center;
    align-content: center;
    justify-content: center;

    border: 5px double rgb(42, 45, 132);
    background-color: rgba(6, 7, 45, 0.66);
    border-radius: 25px;
}

#register_form {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;

    padding-inline: 1em;

    row-gap: 0.5em;
    column-gap: 2.5%;

    place-self: center;
    text-align: left;
    justify-content: center;
}

#dob:required {
    box-sizing: border-box;
    width: 25em;
    height: 2.5em;

    padding-inline: 1em;
    border-radius: 25px;
    
    background-color: rgba(6, 7, 45, 0.66);
    border: 2px solid rgb(31, 32, 92);
    color:white;
    font-family:sans-serif;
}

#dob:required:invalid {
    color: gray;
}

#dob:required:valid {
    color: white;
    border-color:rgb(32, 221, 32);
}

.text-input {
    background-color: rgba(6, 7, 45, 0.66);
    border: 2px solid rgb(31, 32, 92);
}

.text-input:not(:placeholder-shown) {
    border-color:rgb(32, 221, 32);
}

select:required {
    box-sizing: border-box;
    margin-inline: 0.5em;
    padding-inline: 0.5em;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;

    color: white;
    font-family:sans-serif;
}

select:required:invalid {
    color: gray;
}

select:required:valid {
    color: white;
    border-color:rgb(32, 221, 32);
}

.dob-input:not(:placeholder-shown) {
    border-color:rgb(32, 221, 32);
}

#register_btn {
    place-self: center;
    background-color: rgba(194, 57, 103, 0.353);
    border: 2px solid rgba(195, 112, 140, 0.298);
    border: 0px;
}

#register_btn:hover {
    background-color: rgba(194, 57, 103, 0.652);
    border-color: rgba(195, 112, 140, 0.616);
}

.chkPwd {
    box-sizing: border-box;
    width: 25em;
    height: 2.5em;

    margin:0%;

    padding-inline: 1em;
    border-radius: 25px;

    color:white;
    font-family:sans-serif;

    background-color: rgba(6, 7, 45, 0.66);
    border: 2px solid rgb(31, 32, 92);
}

.chkPwd.match {
    border-color: rgb(32, 221, 32);
}