.Ribbon {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-inline: 1em;
    box-sizing: border-box;

    background-color: black;
    border-bottom: 2px solid white;
    align-items: center;
}

#logo_ribbon {
    transform: scale(0.2,0.2);
    margin-right: -20em;
    margin-left: -20em;
    margin-top: -10em;
    margin-bottom: -10em;
    height:fit-content;
}

#nothing {
    flex-grow: 1;
}

#profile {
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: fit-content;

    gap: 1em;
    align-items: center;
    white-space: nowrap;

    background-color: rgba(62, 64, 199, 0.462);
    border: 2px solid rgba(110, 112, 203, 0.481);
}

#profile:hover {
    background-color: rgba(37, 40, 196, 0.691);
    border-color: rgba(62, 64, 199, 0.674);
}

#ribbon_pic {
    width: 2em;
    height: 2em;
    border-radius: 25px;
}

#chats {
    background-color: #102232bd;
    border: 2px solid rgb(35, 65, 85);
}

#chats:hover {
    background-color: rgba(31, 68, 101, 0.743);
    border-color: rgb(45, 85, 112);
}

#logout {
    background-color: rgba(194, 57, 103, 0.353);
    border: 2px solid rgba(195, 112, 140, 0.298);
}

#logout:hover {
    background-color: rgba(194, 57, 103, 0.652);
    border-color: rgba(195, 112, 140, 0.616);
}
